<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} - dupload</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% endblock %}
    <style>
      table, td, th {
        border: 1px solid #DDD;
      }

      td, th {
        padding: 8px 4px;
      }

      #upinfo {
        width: 480px;
      }

      form {
        margin: 0;
      }

      input[name="description"] {
        width: 100%;
      }

      .navi {
        padding: 0;
        margin: 8px 0;
      }

      .navi li {
        list-style: none;
        display: inline;
        padding: 8px 32px;
      }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
