{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}

<h2>dupload</h2>

<form id="uform" method="post" action="/items" enctype="multipart/form-data">
  <input type="file" name="upload" value="browse" />
  <input type="text" name="description" />
  <input type="submit" value="upload" />
</form>

<h3>items</h3>

<select>
  <option>all</option>
  {% for cat in cats %}
    <option {% if cat == tab %}selected{% endif %}>{{ cat }}</option>
  {% endfor %}
</select>

<table id="items">
  <thead>
    <tr>
      <th>name</th>
      <th>file size</th>
      <th>upload date</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<ul class="pagination">

</ul>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
/*
var xhr = new XMLHttpRequest();
xhr.onprogress = function(p) {
    console.log("onprogress", p.loaded);
}
$("#uform").submit(function(e) {
    e.preventDefault();
    var fileList = $(this).children("[name='upload']")[0].files;
    if (fileList.length <= 0) {
        return;
    }
    
    if (file.size > 8192) {
        alert("file too large: " + file.size);
        return;
    }
    
    var formData = new FormData($(this)[0]);
    xhr.open("POST", "/items");
    xhr.send(formData);
});
*/
</script>
{% endblock %}
