{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block body %}

<form action="/" method="post" enctype="multipart/form-data">
  <table id="upinfo">
    <tr>
      <td>choose a file</td>
      <td><input type="file" name="upload" value="browse" /></td>
    </tr>
    <tr>
      <td>description</td>
      <td><input type="text" name="description" /></td>
    </tr>
    <tr>
      <td><input type="submit" value="upload" /></td>
      <td>
        <div id="error" class="result">
          {% if error %}
            {{ error }}
          {% endif %}
        </div>
        <div id="success" class="result">
          {% if success %}
            {{ success }}
          {% endif %}
        </div>
      </td>
    </tr>
  </table>
</form>

<ul class="navi">
  <a class="cat" interface="all"><li>all</li></a>
  {% for cat in category %}
    <a class="cat" interface="{{ cat }}"><li>{{ cat }}</li></a>
  {% endfor %}
</ul>

<table id="items">
  <thead>
    <tr>
      <th>name</th>
      <th>file size</th>
      <th>upload date</th>
      <th>description</th>
      <th>operation</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<script src="http://libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>
<script>
$(".cat").click(function() {
    var cat = $(this).attr("interface");
    console.log(cat);
    if ($("#items").attr("class") != cat) {
        $("#items").attr("class", "cat");
        $.get(url="cat/"+cat, callback=function(data, status) {
            if (status != "success") {
                $("#error").text(status);
                return;
            }
            $("#items tbody tr").remove();
            for (var i = 0; i < data.length; i++) {
                var row = data[i];
                var line = "<tr>";
                line += ("<td>" + row.origin_name + "</td>");
                line += ("<td>" + row.file_size + "</td>");
                line += ("<td>" + row.upload_time + "</td>");
                line += ("<td>" + row.description + "</td>");
                line += ("<td>" + row.hash_value + "</td>");
                line += ("</tr>");
                $("#items tbody").append(line);
            }
        });
    }
});
</script>
{% endblock %}
